html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 100%;
	text-align: left;
}
body {
	color: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: normal;
}

h1, h2, h3, h4 { font-family: 'Open Sans', sans-serif !important; }

h1 {
	font-weight: 300;
	font-size: 3rem;
	line-height: 1.15;
}
h2, h3, h4, p, sp { line-height: 1.5 !important; }
h2, h3 { font-weight: 400; }
h2 { font-size: 2.2rem !important;}
h3 { font-size: 0.9rem !important;
	text-transform: uppercase;
	font-weight: 900 !important;
	}
h4 {
	font-weight: 600;
	font-size: 1.2rem !important;
}
p { 
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif !important;
}
sp { 
	font-size: 0.8rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif !important;
}
.label {
	font-weight: 300;
	font-size: .7rem;
	color: #767676;
	fill: #767676;
	font-family: 'Open Sans', sans-serif !important;
}
.value {
	color: #333;
	fill: #333;
	font-size: .8rem;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif !important;
}

.col, .wide {
	margin: 0 auto;
	width: 100%;
}
.col { width:34rem; }
.wide { width:48rem; }
.full {
	width:100%;
	margin: 0;
}
.fs {
	width:100vw;
	height:100vh;
	margin:0;
	margin-left:-1em;
	padding:0;
}

@media screen and (min-width: 34rem) {
	html, body { font-size: 120%; }

	h1 { font-size: 3.6rem; }
	h2 { font-size: 2.7rem; }
}

.s-col {
	padding: 1px !important;
}

section.col-text.text {
	width: 550px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.heading { 
	font-size: 1.5rem !important;
	font-weight: 600 !important;
}

    
a {
	outline: none !important;
	text-decoration: none !important;
	padding: 2px 1px 0 !important;
  }
  
  a:link {
	color: #ff0404 !important;
  }
  
  a:visited {
	color: #d80707 !important;
  }
  
  a:focus {
	border-bottom: 1px solid !important;
	background: #f7a4a4 !important;
  }
  
  a:hover {
	border-bottom: 1px solid !important;
	background: #feaaaa !important;
  }
  
  a:active {
	background: #860101 !important;
	color: #131313 !important;
  }
  
  h4 {
	  padding-bottom: 10px;
  }